body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-primary);
  background-color: var(--color-background-page);
}

.link {
  text-decoration: none;
  transition: color var(--duration-action) var(--timing-function-action),
    background-color var(--duration-action) var(--timing-function-action),
    box-shadow var(--duration-action) var(--timing-function-action);
}

.link:hover,
.link:focus {
  color: var(--color-action);
}

.list {
  list-style: none;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--card-set-gap);
    row-gap: 72px;
  }
}

.vissually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

/* ===== TITLES, DESCRIPTIONS */

.section-title {
  margin-bottom: 72px;
  color: var(--color-brand);
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-info-title {
  margin-bottom: 8px;
  color: var(--color-brand);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-info-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .section-info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  }
}

.section-description {
  color: var(--color-primary);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
  .section-description {
    font-weight: 400;}
}

.info-title {
  margin-bottom: 8px; 
  color: var(--color-brand);   
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
}


.description { 
  font-style: normal;
  font-weight: 400;
  line-height: calc(24 / 16) ;
  letter-spacing: 0.02em;
  color: var(--color-primary); 
}

/* ====== SOCIAL LIST ===== */

.social-list {
  display: flex;
  justify-content: center;
  gap: var(--card-set-gap);
  margin-top: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-logo-primary);
  transition: background-color var(--duration-action)
    var(--timing-function-action);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-action);
}

.social-list-icon {
  fill: var(--color-brand-light);
}