.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

/* ===== HEADER ===== */

.page-header {
  border-bottom: 1px solid var(--color-secondary);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  color: var(--color-logo-primary);
  font-family: var(--font-family-logo);
  font-weight: var(--font-weight-logo);
  font-size: var(--font-size-logo);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  color: var(--color-brand);
}

.nav-menu {
  display: none;
}

.contacts-studio {
  display: none;
}

.mobile-menu-open {
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-menu-open-icon {
  stroke: var(--color-brand);
}

.mobile-menu-open:hover .mobile-menu-open-icon {
  stroke: var(--color-action);
}

/* ===== HERO =====*/

.brand-section {
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  /* max-width: 428px;
  max-height: 432px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg/mobile-hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-brand);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .brand-section {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ), url(../images/hero-bg.jpg/mobile-hero-img@2x.jpg);
  }
}

@media screen and (min-width: 429px) {
  .brand-section {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/hero-bg.jpg/tablet-hero-img.jpg);
  }

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .brand-section {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/hero-bg.jpg/tablet-hero-img@2x.jpg);
}
}
}

@media screen and (min-width: 769px) {
  .brand-section {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/hero-bg.jpg/herro-img.jpg);
  }

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .brand-section {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/hero-bg.jpg/hero-img@2x.jpg);
}
}
}

.hero-title {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;

  color: var(--color-background-page);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--color-logo-primary);
  color: var(--color-background-page);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color var(--duration-action)
    var(--timing-function-action);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-action);
}

/* ===== OUR ADVANTAGES ===== */

.advantages-svg-area {
  display: none;
}

@media screen and (max-width: 768px) {
  .advantages-card:not(:last-child) {
    margin-bottom: calc(var(--card-set-gap) * 3);
  }
}

/* ===== WHAT ARE WE DOING ===== */

.section.no-padding-top {
  display: none;
}


/* ===== OUR TEAM ===== */

.team-section {
  background-color: var(--color-brand-light);
}


.team-card {
  width: 264px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--color-background-page);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .team-card:not(:last-child) {
    margin-bottom: calc(var(--card-set-gap) * 3);
  }
}

.card-info-wrapper {
  padding: 32px 0px;
}

/* ===== CUSTOMERS ===== */

.section-title.customers {
  line-height: 1.1;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--card-set-gap);
  row-gap: 72px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--color-form);
  border-radius: 4px;
  color: var(--color-form);
  transition: color var(--duration-action) var(--timing-function-action),
  border-color var(--duration-action) var(--timing-function-action);
 
  flex-basis: calc((100% - var(--card-set-gap)) / 2);
}


.customers-list-icon {
  fill: currentColor;
}

.customers-list-link:hover,
.customers-list-link:focus {
  color: var(--color-action);
  border-color: var(--color-action);
}



/* ===== FOOTER ===== */


.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.footer-section {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--color-brand);
}

.page-footer-brand-desc {
  width: 268px;
}

.page-footer-brand-desc .secondary-logo {
  display: block;
  text-align: center;
}

.footer-logo {
  color: var(--color-brand-light);
}

.slogan {
  margin-top: 16px;
  /* width: 268px; */
  color: var(--color-secondary);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer SOCIAL */

.social-list-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-background-page);
  text-align: center;
}

.social-footer-list {
  display: flex;
  gap: 16px;
}

.social-footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-logo-primary);
  transition: background-color var(--duration-action)
    var(--timing-function-action);
}

.social-footer-list-link:hover,
.social-footer-list-link:focus {
  background-color: var(--color-action-secondary);
}

.social-footer-list-icon {
  fill: var(--color-brand-light);
}

/* Footer FORM */

.page-footer-form-subscribe {
  width: 100%;
}

/* .footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;

} */

.footer-form-input-desc {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-background-page);
  text-align: center;
}

.footer-form-input {
  
  display: block;
  margin-bottom: 16px;
  /* max-width: 398px; */
  width: 100%;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  color: var(--color-background-page);
  outline: 1px solid transparent;
  transition: border-color var(--duration-action) var(--timing-function-action);
}

.footer-form-input:hover,
.footer-form-input:focus {
  border-color: var(--color-logo-primary);
}

.footer-form-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(24 / 12);
  color: var(--color-background-page);
}

.footer-subscribe-btn {
  display: flex;
  /* align-self: self-end; */
  justify-content: center;
  align-items: center;
  width: 165px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-logo-primary);
  color: var(--color-background-page);
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--color-action);
}

.footer-subscribe-btn-icon {
  margin-left: 16px;
  fill: var(--color-background-page);
}


@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}


 /* ===== MOBILE MENU ===== */

 .mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  /* box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); */
  background-color: var(--color-background-page);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(100%);
  transition: opacity var(--duration-action) var(--timing-function-action),
    visibility var(--duration-action) var(--timing-function-action),
    transform var(--duration-action) var(--timing-function-action);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transform: translate(0);
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding-left: 40px;
  padding-right: 35px;
  padding-top: 80px;
  padding-bottom: 40px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-secondary);
  cursor: pointer;
  color: var(--color-brand);
  transition: background-color var(--duration-action)
      var(--timing-function-action),
    color var(--duration-action) var(--timing-function-action);
}

.mobile-menu-close-btn-icon {
  fill: currentColor;
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  color: var(--color-background-page);
  background-color: var(--color-action);
}

.mobile-page-nav {
  margin-bottom: auto;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-nav-link {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40px / 36px);
  letter-spacing: 0.02em;
  color: var(--color-brand);
}

.mobile-nav-link.current {
  color: var(--color-action);
}

.mobile-contacts-studio {
  margin-bottom: 48px;
}

.mobile-contact-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contact-link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24px / 20px);
  letter-spacing: 0.02em;
  color: var(--color-primary);
  transition: color var(--duration-action) var(--timing-function-action)
}

.mobile-contact-link.tel {
  font-weight: 700;
font-size: 36px;
line-height: calc(40 / 36);
letter-spacing: 0.02em;
color: var(--color-logo-primary);
}

.mobile-contact-link:hover,
.mobile-contact-link:focus,
.mobile-contact-link.tel:hover, 
.mobile-contact-link.tel:focus {
  color: var(--color-action);
}

.mobile.social-list {
  justify-content: space-between;
  flex-shrink: 1;
}

.mobile-social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

/* ===== BACKDROP MODAL ===== */

/* В ОКРЕМОМУ ФАЙЛІ CSS - backdrop-modal.css */





/* ===== PORTFOLIO ===== */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
